$desk: 100 / 1920;
$tablet: 100 / 768;
$mob: 100 / 414;

.highlight {
  background: #e4e4e4 !important;
  cursor: pointer;
  // background: #0055ff !important;
}

.heartImageContainer {
  position: absolute;
  width: 40 * $desk + vw;
  height: 40 * $desk + vw;
  background-color: rgba(255, 255, 255, 0.5);
  right: 11 * $desk + vw;
  top: 11 * $desk + vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1 * $desk + vw solid rgba(0, 0, 0, 0.5);
  z-index: 2;
  @media only screen and (max-width: 800px) {
    position: absolute;
    width: 28 * $mob + vw;
    height: 28 * $mob + vw;
    background-color: rgba(255, 255, 255, 0.5);
    right: 11 * $mob + vw;
    top: 11 * $mob + vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 * $desk + vw solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  .heartImage {
    width: 20 * $desk + vw;
    height: 24 * $desk + vw;
    @media only screen and (max-width: 800px) {
      width: 18 * $mob + vw;
      height: 18 * $mob + vw;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.tagsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 365px;
  height: auto;
  @media only screen and (max-width: 800px) {
    width: 300px;
    height: auto;
  }
  .blogButtonContainer {
    width: auto;
    height: auto;
    border: 1px solid #07296a;
    margin-right: 14 * $desk + vw;
    margin-bottom: 10 * $desk + vw;
    @media only screen and (max-width: 800px) {
      margin-right: 10 * $mob + vw;
      margin-bottom: 10 * $mob + vw;
    }
    .tagText {
      font-size: 13px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}
.right {
  display: flex;
}
.right .whatsapps {
  position: relative;
  top: -40px;
  right: 30px;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
  @media only screen and (max-width: 800px) {
    top: 0;
    right: 0;
    left: 15px;
    margin-bottom: 10px;
    font-size: 24px;
  }
}
.right .email {
  position: relative;
  top: -40px;
  right: 30px;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
  @media only screen and (max-width: 800px) {
    top: 0;
    right: 0;
    left: 10px;
    margin-bottom: 10px;
    font-size: 24px;
  }
}
// .warehouseCardContainer {
//   position: relative;
//   display: flex;
//   width: 950 * $desk + vw;
//   height: 223 * $desk + vw;
//   background: #ffffff;
//   border: 1 * $desk + vw solid #e4e4e4;
//   border-radius: 5 * $desk + vw;
//   opacity: 0.83;
//   margin-bottom: 24 * $desk + vw;
//   cursor: pointer;
//   .leftPart {
//     position: relative;
//     width: 310 * $desk + vw;
//     height: 223 * $desk + vw;
//     .warehouseImage {
//       width: 310 * $desk + vw;
//       height: 223 * $desk + vw;
//       img {
//         width: 100%;
//         height: 100%;
//       }
//     }
//     .heartImageContainer {
//       position: absolute;
//       width: 40 * $desk + vw;
//       height: 40 * $desk + vw;
//       background-color: rgba(255, 255, 255, 0.5);
//       right: 11 * $desk + vw;
//       top: 11 * $desk + vw;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border-radius: 50%;
//       cursor: pointer;
//       border: 1 * $desk + vw solid rgba(0, 0, 0, 0.5);
//       z-index: 2;
//       .heartImage {
//         width: 20 * $desk + vw;
//         height: 24 * $desk + vw;
//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: contain;
//         }
//       }
//     }
//   }
//   .whatsappImage {
//     position: absolute;
//     width: 35 * $desk + vw;
//     height: 35 * $desk + vw;
//     right: 82 * $desk + vw;
//     top: 22 * $desk + vw;
//     z-index: 10;
//     cursor: pointer;
//   }
//   .mailImage {
//     position: absolute;
//     width: 35 * $desk + vw;
//     height: 35 * $desk + vw;
//     right: 23 * $desk + vw;
//     top: 22 * $desk + vw;
//     z-index: 10;
//     cursor: pointer;
//   }
//   .rightPart {
//     position: relative;
//     .dataTopContainer {
//       width: 605 * $desk + vw;
//       display: flex;
//       justify-content: space-between;
//       margin-top: 19 * $desk + vw;
//       margin-left: 22 * $desk + vw;
//       h3 {
//         font-family: Roboto-regular;
//         font-size: 28 * $desk + vw;
//       }

//       .enquireButton {
//         // display: flex;
//         display: none;
//         justify-content: center;
//         align-items: center;
//         width: 119 * $desk + vw;
//         height: 27 * $desk + vw;
//         background: #0055ff;
//         border-radius: 3 * $desk + vw;
//         cursor: pointer;
//         z-index: 10;
//         div {
//           font-family: Roboto-regular;
//           font-size: 15 * $desk + vw;
//           color: #ffffff;
//         }
//       }
//     }
//     .secondText {
//       font-family: Roboto-regular;
//       font-size: 17 * $desk + vw;
//       margin-top: 18 * $desk + vw;
//       margin-left: 22 * $desk + vw;
//       color: #858585;
//     }
//     .thirdPartContainer {
//       width: 328 * $desk + vw;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       margin-top: 21 * $desk + vw;
//       margin-left: 22 * $desk + vw;
//       .thirdText {
//         font-family: Roboto-regular;
//         font-size: 17 * $desk + vw;
//         font-weight: 600;
//       }
//     }
//     .fourtPartContainer {
//       display: flex;
//       align-items: center;
//       margin-top: 30 * $desk + vw;
//       margin-left: 22 * $desk + vw;
//       .shareText {
//         font-family: Roboto-regular;
//         font-size: 13 * $desk + vw;
//         color: #747474;
//         margin-right: 19 * $desk + vw;
//       }
//       .whatsappImage {
//         width: 22 * $desk + vw;
//         height: 22 * $desk + vw;
//         margin-right: 22 * $desk + vw;
//         cursor: pointer;
//         img {
//           width: 100%;
//           height: 100%;
//         }
//       }
//       .mailImage {
//         width: 22 * $desk + vw;
//         height: 19 * $desk + vw;
//         margin-right: 243 * $desk + vw;
//         cursor: pointer;
//         img {
//           width: 100%;
//           height: 100%;
//         }
//       }
//       .rightArrowContainer {
//         position: relative;
//         width: 28 * $desk + vw;
//         height: 28 * $desk + vw;
//         // right: -54.5 * $desk + vw;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         cursor: pointer;
//         background: #ffa702;
//         opacity: 1;
//         border-radius: 50%;
//         .rightButton {
//           position: absolute;
//           width: 14 * $desk + vw;
//           height: 11 * $desk + vw;
//           img {
//             width: 100%;
//             height: 100%;
//           }
//         }
//       }
//     }
// .tagsContainer {
//   position: relative;
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: 22 * $desk + vw;
//   margin-top: 40 * $desk + vw;
//   .blogButtonContainer {
//     width: auto;
//     height: 29 * $desk + vw;
//     border: 1 * $desk + vw solid #e4e4e4;
//     margin-right: 14 * $desk + vw;
//     margin-bottom: 10 * $desk + vw;
//     .tagText {
//       margin-left: 14 * $desk + vw;
//       margin-right: 14 * $desk + vw;
//       font-size: 15 * $desk + vw;
//     }
//   }
// }
//   }
// }
@media only screen and (max-width: 800px) {
  .warehouseCardContainer {
    position: relative;
    display: inline-block;
    width: 342 * $mob + vw;
    height: auto;
    background: #ffffff;
    border: 1 * $mob + vw solid #e4e4e4;
    border-radius: 5 * $mob + vw;
    opacity: 0.83;
    margin-bottom: 24 * $mob + vw;
    .leftPart {
      position: relative;
      width: 342 * $mob + vw;
      height: 169 * $mob + vw;
      .warehouseImage {
        width: 342 * $mob + vw;
        height: 169 * $mob + vw;
        img {
          width: 100%;
          height: 100%;
          border-top-right-radius: 5 * $mob + vw;
          border-top-left-radius: 5 * $mob + vw;
        }
      }
      .heartImageContainer {
        position: absolute;
        width: 28 * $mob + vw;
        height: 28 * $mob + vw;
        background-color: rgba(255, 255, 255, 0.5);
        right: 11 * $mob + vw;
        top: 11 * $mob + vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1 * $desk + vw solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        cursor: pointer;
        .heartImage {
          width: 18 * $mob + vw;
          height: 18 * $mob + vw;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .whatsappImage {
      position: absolute;
      width: 14 * $mob + vw;
      height: 14 * $mob + vw;
      right: 80 * $mob + vw;
      top: 180 * $mob + vw;
      cursor: pointer;
    }
    .mailImage {
      position: absolute;
      width: 14 * $mob + vw;
      height: 14 * $mob + vw;
      right: 30 * $mob + vw;
      top: 180 * $mob + vw;
      cursor: pointer;
    }
    .rightPart {
      position: relative;
      width: 342 * $mob + vw;
      // height: 60* $mob + vw;
      .dataTopContainer {
        width: 302 * $mob + vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 11 * $mob + vw;
        margin-left: 12 * $mob + vw;
        h3 {
          font-family: Roboto-regular;
          font-size: 14 * $mob + vw;
        }

        .enquireButton {
          display: none;
          // display: flex;
          justify-content: center;
          align-items: center;
          width: 80 * $mob + vw;
          height: 18 * $mob + vw;
          background: #0055ff 0% 0% no-repeat padding-box;
          border-radius: 1 * $mob + vw;
          transform: translate(-20px, 0px);
          cursor: pointer;
          div {
            font-family: Roboto-regular;
            font-size: 10 * $mob + vw;
            color: #ffffff;
          }
        }
      }
      .secondText {
        font-family: Roboto-regular;
        font-size: 11 * $mob + vw;
        margin-top: 8 * $mob + vw;
        margin-left: 12 * $mob + vw;
        color: #858585;
      }
      .thirdPartContainer {
        width: 225 * $mob + vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 21 * $mob + vw;
        left: 47 * $mob + vw;
        .thirdText {
          font-family: Roboto-regular;
          font-size: 11 * $mob + vw;
          font-weight: 600;
          height: 16 * $mob + vw;
          margin-left: 10 * $mob + vw;
        }
      }
      .fourtPartContainer {
        display: flex;
        align-items: center;
        margin-bottom: 10 * $mob + vw;
        // margin-left: 12 * $mob + vw;
        .shareText {
          font-family: Roboto-regular;
          font-size: 11 * $mob + vw;
          color: #747474;
          margin-left: 12 * $mob + vw;
        }
        .whatsappImage {
          width: 18 * $mob + vw;
          height: 18 * $mob + vw;
          margin-left: 10 * $mob + vw;
          padding-right: 10 * $mob + vw;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .mailImage {
          width: 18 * $mob + vw;
          height: 18 * $mob + vw;
          margin-right: 190 * $mob + vw;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .rightArrowContainer {
          position: relative;
          width: 18 * $mob + vw;
          height: 18 * $mob + vw;
          // margin-left: 15 * $mob + vw;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background: #ffa702;
          opacity: 1;
          border-radius: 50%;
          // transform: translate(145px, 0px);
          .rightButton {
            position: absolute;
            width: 9 * $mob + vw;
            height: 7 * $mob + vw;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      // .tagsContainer {
      //   position: relative;
      //   display: flex;
      //   flex-wrap: wrap;
      //   margin-left: 12 * $mob + vw;
      //   margin-top: 30 * $mob + vw;
      //   margin-bottom: 10 * $mob + vw;
      //   .blogButtonContainer {
      //     width: auto;
      //     height: 24 * $mob + vw;
      //     border: 1 * $mob + vw solid #e4e4e4;
      //     margin-right: 10 * $mob + vw;
      //     margin-bottom: 10 * $mob + vw;
      //     .tagText {
      //       margin-left: 10 * $mob + vw;
      //       margin-right: 10 * $mob + vw;
      //       font-size: 11 * $mob + vw;
      //     }
      //   }
      // }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  // .rightArrowContainer1{
  //     display: none;
  // }

  // .rightArrowContainer{
  //     display: none;
  // }
}

@media only screen and (min-width: 1025px) {
  // .rightArrowContainer1{
  //     display: none;
  // }

  // .rightArrowContainer{
  //     display: none;
  // }
}
