.highlight {
  background: #e4e4e4 !important;
  cursor: pointer;
}

.heartImageContainer {
  position: absolute;
  width: 2.08333vw;
  height: 2.08333vw;
  background-color: rgba(255, 255, 255, 0.5);
  right: 0.57292vw;
  top: 0.57292vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0.05208vw solid rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media only screen and (max-width: 800px) {
  .heartImageContainer {
    position: absolute;
    width: 6.76329vw;
    height: 6.76329vw;
    background-color: rgba(255, 255, 255, 0.5);
    right: 2.657vw;
    top: 2.657vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.05208vw solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
}

.heartImageContainer .heartImage {
  width: 1.04167vw;
  height: 1.25vw;
}

@media only screen and (max-width: 800px) {
  .heartImageContainer .heartImage {
    width: 4.34783vw;
    height: 4.34783vw;
  }
}

.heartImageContainer .heartImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tagsContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 365px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .tagsContainer {
    width: 300px;
    height: auto;
  }
}

.tagsContainer .blogButtonContainer {
  width: auto;
  height: auto;
  border: 1px solid #07296a;
  margin-right: 0.72917vw;
  margin-bottom: 0.52083vw;
}

@media only screen and (max-width: 800px) {
  .tagsContainer .blogButtonContainer {
    margin-right: 2.41546vw;
    margin-bottom: 2.41546vw;
  }
}

.tagsContainer .blogButtonContainer .tagText {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right .whatsapps {
  position: relative;
  top: -40px;
  right: 30px;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .right .whatsapps {
    top: 0;
    right: 0;
    left: 15px;
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.right .email {
  position: relative;
  top: -40px;
  right: 30px;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .right .email {
    top: 0;
    right: 0;
    left: 10px;
    margin-bottom: 10px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 800px) {
  .warehouseCardContainer {
    position: relative;
    display: inline-block;
    width: 82.6087vw;
    height: auto;
    background: #ffffff;
    border: 0.24155vw solid #e4e4e4;
    border-radius: 1.20773vw;
    opacity: 0.83;
    margin-bottom: 5.7971vw;
  }
  .warehouseCardContainer .leftPart {
    position: relative;
    width: 82.6087vw;
    height: 40.82126vw;
  }
  .warehouseCardContainer .leftPart .warehouseImage {
    width: 82.6087vw;
    height: 40.82126vw;
  }
  .warehouseCardContainer .leftPart .warehouseImage img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 1.20773vw;
    border-top-left-radius: 1.20773vw;
  }
  .warehouseCardContainer .leftPart .heartImageContainer {
    position: absolute;
    width: 6.76329vw;
    height: 6.76329vw;
    background-color: rgba(255, 255, 255, 0.5);
    right: 2.657vw;
    top: 2.657vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.05208vw solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  .warehouseCardContainer .leftPart .heartImageContainer .heartImage {
    width: 4.34783vw;
    height: 4.34783vw;
  }
  .warehouseCardContainer .leftPart .heartImageContainer .heartImage img {
    width: 100%;
    height: 100%;
  }
  .warehouseCardContainer .whatsappImage {
    position: absolute;
    width: 3.38164vw;
    height: 3.38164vw;
    right: 19.32367vw;
    top: 43.47826vw;
    cursor: pointer;
  }
  .warehouseCardContainer .mailImage {
    position: absolute;
    width: 3.38164vw;
    height: 3.38164vw;
    right: 7.24638vw;
    top: 43.47826vw;
    cursor: pointer;
  }
  .warehouseCardContainer .rightPart {
    position: relative;
    width: 82.6087vw;
  }
  .warehouseCardContainer .rightPart .dataTopContainer {
    width: 72.94686vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2.657vw;
    margin-left: 2.89855vw;
  }
  .warehouseCardContainer .rightPart .dataTopContainer h3 {
    font-family: Roboto-regular;
    font-size: 3.38164vw;
  }
  .warehouseCardContainer .rightPart .dataTopContainer .enquireButton {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 19.32367vw;
    height: 4.34783vw;
    background: #0055ff 0% 0% no-repeat padding-box;
    border-radius: 0.24155vw;
    -webkit-transform: translate(-20px, 0px);
            transform: translate(-20px, 0px);
    cursor: pointer;
  }
  .warehouseCardContainer .rightPart .dataTopContainer .enquireButton div {
    font-family: Roboto-regular;
    font-size: 2.41546vw;
    color: #ffffff;
  }
  .warehouseCardContainer .rightPart .secondText {
    font-family: Roboto-regular;
    font-size: 2.657vw;
    margin-top: 1.93237vw;
    margin-left: 2.89855vw;
    color: #858585;
  }
  .warehouseCardContainer .rightPart .thirdPartContainer {
    width: 54.34783vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 11.35266vw;
  }
  .warehouseCardContainer .rightPart .thirdPartContainer .thirdText {
    font-family: Roboto-regular;
    font-size: 2.657vw;
    font-weight: 600;
    height: 3.86473vw;
    margin-left: 2.41546vw;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.41546vw;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .shareText {
    font-family: Roboto-regular;
    font-size: 2.657vw;
    color: #747474;
    margin-left: 2.89855vw;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .whatsappImage {
    width: 4.34783vw;
    height: 4.34783vw;
    margin-left: 2.41546vw;
    padding-right: 2.41546vw;
    cursor: pointer;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .whatsappImage img {
    width: 100%;
    height: 100%;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .mailImage {
    width: 4.34783vw;
    height: 4.34783vw;
    margin-right: 45.89372vw;
    cursor: pointer;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .mailImage img {
    width: 100%;
    height: 100%;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .rightArrowContainer {
    position: relative;
    width: 4.34783vw;
    height: 4.34783vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    background: #ffa702;
    opacity: 1;
    border-radius: 50%;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .rightArrowContainer .rightButton {
    position: absolute;
    width: 2.17391vw;
    height: 1.69082vw;
  }
  .warehouseCardContainer .rightPart .fourtPartContainer .rightArrowContainer .rightButton img {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=warehousecard.css.map */