$desk: 100 / 1920;
$tablet: 100 / 768;
$mob: 100 / 414;

.backButtonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .backArrow {
        font-size: 20 * $desk + vw;
        color: #ffa702;
    }
    .backText {
        margin-left: 14 * $desk + vw;
        font-family: Roboto-regular;
        font-size: 20 * $desk + vw;
        color: #ffa702;
    }
}
.backButtonContainer:hover {
    .backText {
        font-weight: bold;
    }
}

@media only screen and (max-width: 800px) {
    .backButtonContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 59 * $mob + vw;
        cursor: pointer;
        .backArrow {
            font-size: 20 * $mob + vw;
            color: #ffa702;
            opacity: 1;
            margin-top: -77 * $mob + vw;
        }
        .backText {
            margin-left: 12 * $mob + vw;
            font-family: Roboto-regular;
            font-size: 16 * $mob + vw;
            color: #ffa702;
            margin-top: -77 * $mob + vw;
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .backButtonContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 59 * $tablet + vw;
        cursor: pointer;
        .backArrow {
            font-size: 20 * $tablet + vw;
            color: #ffa702;
            opacity: 1;
            margin-top: -77 * $tablet + vw;
        }
        .backText {
            margin-left: 12 * $tablet + vw;
            font-family: Roboto-regular;
            font-size: 16 * $tablet + vw;
            color: #ffa702;
            margin-top: -77 * $tablet + vw;
        }
    }
}
