$desk: 100 / 1920;
$tablet: 100 / 768;
$mob: 100 / 414;
.profileButtonContainer {
    position: absolute;
    top: 25 * $desk + vw;
    right: -150 * $desk + vw;
    display: flex;
    flex-direction: column;
    width: 300 * $desk + vw;
    // margin-top: -2vw;
    .afterSignInContainer {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-left: 495 * $desk + vw;
        padding-top: 10 * $desk + vw;
        padding-bottom: 10 * $desk + vw;
        padding-left: 20 * $desk + vw;
        padding-right: 20 * $desk + vw;
        width: auto;
        height: auto;
        background: #ffffff;
        border: 1 * $desk + vw solid rgba(0, 0, 0, 0.4);
        border-radius: 7 * $desk + vw;
        cursor: pointer;
        .userImage {
            display: none;
            width: 16 * $desk + vw;
            height: 16 * $desk + vw;
            margin-right: 11 * $desk + vw;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .signInText {
            font-size: 19 * $desk + vw;
            color: #000000;
            // font-family: Roboto-regular;
        }
        .dropDownContainer {
            .menu-enter {
                max-height: 0px;
                transition: max-height 1s ease;
                -webkit-transition: max-height 1s ease;
                overflow: hidden;
            }

            .menu-enter.menu-enter-active {
                height: auto;
                // max-height: 200 * $desk + vw;
            }

            .menu-leave {
                // max-height: 200 * $desk + vw;
                transition: max-height 1s ease;
                -webkit-transition: max-height 1s ease;
            }

            .menu-leave.menu-leave-active {
                overflow: hidden;
                max-height: 0px;
            }
            .dropDownTextContainer {
                display: flex;
                flex-direction: column;
                width: auto;
                height: auto;
                transition: cubic-bezier(0.23, 1, 0.32, 1);
                // background: #0055ff;
                div {
                    cursor: pointer;
                    font-size: 19 * $desk + vw;
                    color: #000000;
                    // font-family: Roboto-regular;
                    white-space: nowrap;
                    text-align: center;
                    margin-top: 10 * $desk + vw;
                }
            }
        }
    }
}
.HeaderContainer {
    position: sticky;
    top: 0;
    width: 100%;
    height: 140 * $desk + vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    z-index: 1100;
    .logoContainer {
        position: absolute;
        left: 146 * $desk + vw;
        width: 276 * $desk + vw;
        height: 68 * $desk + vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .navbarContainer {
        position: relative;
        margin-left: 463.5 * $desk + vw;
        top: 10 * $desk + vw;
        ul,
        li {
            display: flex;
            font-size: 19 * $desk + vw;
            color: #002366;
            margin-left: 25.5 * $desk + vw;
            margin-right: 25.5 * $desk + vw;
            padding-bottom: 4 * $desk + vw;
            height: 30 * $desk + vw;
            font-family: Roboto-regular;
            cursor: pointer;
        }
        // li::after {
        //     border-bottom: solid 3 * $desk + vw #019fb6;
        //     transform: scaleX(0);
        //     transition: transform 250ms ease-in-out;
        // }
        li:hover {
            border-bottom: solid 3 * $desk + vw #002366;
            transition: transform 250ms ease-in-out;
        }
    }
    .signInContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 426.5 * $desk + vw;
        cursor: pointer;
        .userImage {
            width: 16 * $desk + vw;
            height: 16 * $desk + vw;
            margin-right: 11 * $desk + vw;
            display: none;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .partnerWithUsText {
            font-size: 19 * $desk + vw;
            color: #002366;
            font-family: Roboto-regular;
            font-weight: 600;
            margin-right: 30 * $desk + vw;
        }
        .signInText {
            font-size: 19 * $desk + vw;
            color: #002366;
            font-family: Roboto-regular;
            font-weight: 600;
        }
    }
    // .profileButtonContainer {
    //     position: relative;
    //     display: flex;
    //     flex-direction: column;
    //     width: 300 * $desk + vw;
    //     margin-top: -2vw;
    //     .afterSignInContainer {
    //         position: fixed;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         margin-left: 495 * $desk + vw;
    //         padding-top: 10 * $desk + vw;
    //         padding-bottom: 10 * $desk + vw;
    //         padding-left: 20 * $desk + vw;
    //         padding-right: 20 * $desk + vw;
    //         width: auto;
    //         height: auto;
    //         background: #ffffff;
    //         border: 1 * $desk + vw solid rgba(0, 0, 0, 0.4);
    //         border-radius: 7 * $desk + vw;
    //         cursor: pointer;
    //         .userImage {
    //             display: none;
    //             width: 16 * $desk + vw;
    //             height: 16 * $desk + vw;
    //             margin-right: 11 * $desk + vw;
    //             img {
    //                 width: 100%;
    //                 height: 100%;
    //             }
    //         }
    //         .signInText {
    //             font-size: 19 * $desk + vw;
    //             color: #000000;
    //             font-family: Roboto-regular;
    //         }
    //         .dropDownContainer {
    //             .menu-enter {
    //                 max-height: 0px;
    //                 transition: max-height 1s ease;
    //                 -webkit-transition: max-height 1s ease;
    //                 overflow: hidden;
    //             }

    //             .menu-enter.menu-enter-active {
    //                 height: auto;
    //                 // max-height: 200 * $desk + vw;
    //             }

    //             .menu-leave {
    //                 // max-height: 200 * $desk + vw;
    //                 transition: max-height 1s ease;
    //                 -webkit-transition: max-height 1s ease;
    //             }

    //             .menu-leave.menu-leave-active {
    //                 overflow: hidden;
    //                 max-height: 0px;
    //             }
    //             .dropDownTextContainer {
    //                 display: flex;
    //                 flex-direction: column;
    //                 width: auto;
    //                 height: auto;
    //                 transition: cubic-bezier(0.23, 1, 0.32, 1);
    //                 // background: #0055ff;
    //                 div {
    //                     cursor: pointer;
    //                     font-size: 19 * $desk + vw;
    //                     color: #000000;
    //                     font-family: Roboto-regular;
    //                     white-space: nowrap;
    //                     text-align: center;
    //                     margin-top: 10 * $desk + vw;
    //                 }
    //             }
    //         }
    //     }
    // }
}
.sticky {
    position: sticky;
    top: 0 * $desk + vw;
    width: 100%;
    z-index: 200;
    // box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 1.0);
}
@media only screen and (max-width: 800px) {
    .profileButtonContainer {
        position: relative;
        margin-right: 40px;
        margin-left: 180px;
        width: auto;
        // margin-top: -2vw;
        .afterSignInContainer {
            position: unset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-left: 495 * $mob + vw;
            padding-top: 5 * $mob + vw;
            padding-bottom: 5 * $mob + vw;
            padding-left: 10 * $mob + vw;
            padding-right: 10 * $mob + vw;
            width: auto;
            height: auto;
            background: #ffffff;
            border: 1 * $mob + vw solid rgba(0, 0, 0, 0.4);
            border-radius: 7 * $mob + vw;
            cursor: pointer;
            .userImage {
                display: none;
                width: 16 * $mob + vw;
                height: 16 * $mob + vw;
                margin-right: 11 * $mob + vw;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .signInText {
                font-size: 14 * $mob + vw;
                color: #000000;
                // font-family: Roboto-regular;
            }
            .dropDownContainer {
                .menu-enter {
                    max-height: 0px;
                    transition: max-height 1s ease;
                    -webkit-transition: max-height 1s ease;
                    overflow: hidden;
                }
    
                .menu-enter.menu-enter-active {
                    height: auto;
                    // max-height: 200 * $mob + vw;
                }
    
                .menu-leave {
                    // max-height: 200 * $mob + vw;
                    transition: max-height 1s ease;
                    -webkit-transition: max-height 1s ease;
                }
    
                .menu-leave.menu-leave-active {
                    overflow: hidden;
                    max-height: 0px;
                }
                .dropDownTextContainer {
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    height: auto;
                    transition: cubic-bezier(0.23, 1, 0.32, 1);
                    // background: #0055ff;
                    div {
                        cursor: pointer;
                        font-size: 14 * $mob + vw;
                        color: #000000;
                        // font-family: Roboto-regular;
                        white-space: nowrap;
                        text-align: center;
                        margin-top: 10 * $mob + vw;
                    }
                }
            }
        }
    }
    .HeaderContainer {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100 * $mob + vw;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        .logoContainer {
            position: absolute;
            left: 19 * $mob + vw;
            width: 155 * $mob + vw;
            height: 61 * $mob + vw;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .adjustBars {
            position: absolute;
            right: 30 * $mob + vw;
            display: block;
            color: #002366;
            font-size: 20 * $mob + vw;
        }
        .navbarContainer {
            display: none;
            position: relative;
            margin-left: 463.5 * $mob + vw;
            ul,
            li {
                display: flex;
                font-size: 19 * $mob + vw;
                color: #002366;
                margin-left: 25.5 * $mob + vw;
                margin-right: 25.5 * $mob + vw;
                font-family: Roboto-regular;
                cursor: pointer;
            }
        }
        .signInContainer {
            display: none;
        }
        .profileButtonContainer {
            display: none;
        }
    }
    .sticky {
        position: relative;
        top: 0 * $desk + vw;
        width: 100%;
        z-index: 200;
        // box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 1.0);
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .HeaderContainer {
        position: relative;
        width: 100%;
        height: 86 * $tablet + vw;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        .logoContainer {
            position: absolute;
            left: 54 * $tablet + vw;
            width: 119 * $tablet + vw;
            height: 41 * $tablet + vw;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .adjustBars {
            position: absolute;
            right: 61 * $tablet + vw;
            display: block;
            color: #002366;
            font-size: 20 * $tablet + vw;
        }
        .navbarContainer {
            position: relative;
            display: none;
            margin-left: 463.5 * $tablet + vw;
            ul,
            li {
                display: flex;
                font-size: 19 * $tablet + vw;
                color: #002366;
                margin-left: 25.5 * $tablet + vw;
                margin-right: 25.5 * $tablet + vw;
                font-family: Roboto-regular;
                cursor: pointer;
            }
        }
        .signInContainer {
            display: none;
        }
        .profileButtonContainer {
            display: none;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .adjustBars {
        display: none;
    }
}
