$desk: 100 / 1920;
$mob: 100 / 414;
.appBar {
    position: relative !important;
}
.title {
    flex: 1,
}
.MuiDialogContent-root {
    overflow: unset !important;
}
.MuiDialogActions-root {
    justify-content: center !important;
}