$desk: 100 / 1920;
$mob: 100 / 414;

.addOnServiceCardContainer {
    position: relative;
    .addOnServiceSlides {
        width: 785 * $desk + vw;
        height: min-content;
        background: rgba(248, 248, 248, 0.55);
        padding-bottom: 20 * $desk + vw;
        .slidesSection {
            display: flex;
            flex-wrap: wrap;
            width: 900 * $desk + vw;
            margin-left: 40 * $desk + vw;
        }
    }
}
@media only screen and (max-width: 800px) {
    .addOnServiceCardContainer {
        position: relative;
        .addOnServiceSlides {
            width: 414 * $mob + vw;
            background: rgba(248, 248, 248, 0.55);
            .slidesSection {
                display: flex;
                flex-wrap: wrap;
                width: 414 * $mob + vw;
                overflow:scroll;
                margin-left: 35 * $mob + vw;
            }
        }
    }

}