$desk: 100 / 1920;
$tablet: 100 / 768;
$mob: 100 / 414;
// @import "../../assets/common.scss";
.optBoxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 494 * $desk + vw;
  height: 470 * $desk + vw;
  background: rgba(219, 219, 219, 0.27);
  border: 1 * $desk + vw solid rgba(112, 112, 112, 0.29);
  border-radius: 8 * $desk + vw;
  margin: auto;
  margin-top: 50 * $desk + vw;

  .closeButtonContainer {
    position: absolute;
    top: 15.4 * $desk + vw;
    right: 15.4 * $desk + vw;
    width: 15 * $desk + vw;
    height: 15 * $desk + vw;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .loginHeadText {
    // width: 211 * $desk + vw;
    // font-family: Roboto-bold;
    font-size: 29 * $desk + vw;
    line-height: 38 * $desk + vw;
    margin-top: 32 * $desk + vw;
    margin-left: 44 * $desk + vw;
    margin-bottom: 25 * $desk + vw;
  }
  p {
    width: 407 * $desk + vw;
    font-family: inherit;
    font-size: 17 * $desk + vw;
    line-height: 23 * $desk + vw;
    margin-left: 44 * $desk + vw;
    margin-bottom: 38 * $desk + vw;
  }
  .otpAdjustContainer {
    display: flex;
    align-items: center;
    margin-left: 44 * $desk + vw;
    margin-bottom: 15 * $desk + vw;
    input {
      outline: 0;
      width: 59 * $desk + vw;
      height: 58 * $desk + vw;
      margin-right: 3.5 * $desk + vw;
      margin-left: 3.5 * $desk + vw;
      color: #000000;
      text-align: center;
      font-size: 20 * $desk + vw;
      border: 1 * $desk + vw solid rgba(112, 112, 112, 0.3);
    }
    .divideBorder {
      width: 14 * $desk + vw;
      height: 0 * $desk + vw;
      border: 1 * $desk + vw solid #707070;
      opacity: 0.3;
    }
  }
  .resendText {
    // font-family: Roboto-medium;
    font-size: 14 * $desk + vw;
    margin-left: 370 * $desk + vw;
    cursor: pointer;
    color: #0055ff;
  }
  .error {
    // font-family: Roboto-medium;
    font-size: 16px;
    margin-left: 44 * $desk + vw;
    color: #ff0000;
  }
  .success {
    // font-family: Roboto-medium;
    font-size: 16px;
    margin-left: 44 * $desk + vw;
    color: green;
  }
  .loader {
    position: relative !important;
    width: 100 * $desk + vw;
    height: 100 * $desk + vw;
    bottom: unset !important;
    left: unset !important;
    margin: auto;
  }
  .otpBtn {
    margin: auto;
    width: 60%;
  }
  .proceedButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 385 * $desk + vw;
    height: 74 * $desk + vw;
    background: #0055ff;
    border-radius: 4 * $desk + vw;
    cursor: pointer;
    margin: auto;
    margin-top: 1vw;
    // margin-bottom: 1vw;
    .btnText {
      // font-family: Roboto-regular;
      font-size: 24 * $desk + vw;
      color: #ffffff;
    }
  }
  .proceedButton:hover {
    background: #00c;
  }
}
@media only screen and (max-width: 480px) {
  .optBoxContainer {
    position: fixed;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f9f9f9 0% 0% no-repeat padding-box;
    z-index: 1000;
    top: -10px;
    left: 0;
    .closeButtonContainer {
      position: absolute;
      top: 15.4 * $mob + vw;
      right: 25.4 * $mob + vw;
      width: 15 * $mob + vw;
      height: 15 * $mob + vw;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .loginHeadText {
      width: 220 * $mob + vw;
      // font-family: Roboto-bold;
      font-size: 29 * $mob + vw;
      line-height: 38 * $mob + vw;
      margin-top: 89 * $mob + vw;
      margin-left: 104 * $mob + vw;
      margin-bottom: 47 * $mob + vw;
    }
    p {
      margin-top: 8 * $mob + vw;
      width: unset;
      padding: 10px;
      // height: 50px;
      text-align: left;
      margin-left: 9%;
      font-size: 14px;
      line-height: 20px;
      // font: Regular 15px/20px Roboto;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }
    .otpAdjustContainer {
      display: flex;
      align-items: center;
      margin-bottom: 15 * $mob + vw;
      margin-top: 47 * $mob + vw;
      input {
        outline: 0;
        width: 50 * $mob + vw;
        height: 50 * $mob + vw;
        margin: auto;
        // margin-right: 3.5 * $mob + vw;
        // margin-left: 3.5 * $mob + vw;
        color: #000000;
        text-align: center;
        font-size: 19 * $mob + vw;
        border: 1 * $mob + vw solid rgba(112, 112, 112, 0.3);
      }
      .divideBorder {
        width: 14 * $mob + vw;
        height: 0 * $mob + vw;
        border: 1 * $mob + vw solid #707070;
        opacity: 0.3;
      }
    }
    .resendText {
      // font-family: Roboto-medium;
      font-size: 14 * $mob + vw;
      width: 89 * $mob + vw;
      margin-left: 310 * $mob + vw;

      margin-bottom: 50 * $mob + vw;
      height: 19 * $mob + vw;
      cursor: pointer;
      color: #0055ff;
    }
    .resendText {
      // font-family: Roboto-medium;
      font-size: 14px;
      margin-left: 250px;
      width: unset;
      cursor: pointer;
      color: #0055ff;
    }
    .error {
      // font-family: Roboto-medium;
      font-size: 16px;
      margin-left: 21px;
      color: #ff0000;
    }
    .success {
      // font-family: Roboto-medium;
      font-size: 16px;
      margin-left: 21px;
      color: green;
    }
    .loader {
      position: relative !important;
      width: 100 * $desk + vw;
      height: 100 * $desk + vw;
      margin-bottom: 40px !important;
      left: -6% !important;
      margin: auto;
    }
    .otpBtn {
      margin-left: 21%;
      width: 60%;
      margin-top: 10px;
    }
    .proceedButton {
      margin: auto;
      margin-top: 6 * $mob + vw;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 174 * $mob + vw;
      height: 45 * $mob + vw;
      background: #0055ff;
      border-radius: 4 * $mob + vw;
      cursor: pointer;
      margin-bottom: 27 * $mob + vw;
      .btnText {
        // font-family: Roboto-regular;
        font-size: 20 * $mob + vw;
        color: #ffffff;
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .optBoxContainer1 {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .optBoxContainer1 {
    display: none;
  }
}
